<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html" lang="es">
<!--<![endif]-->

<head>
<title>Latest Login Form Responsive Widget Template :: w3layouts</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8" />
<meta name="keywords"
	content="Latest Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
<!-- Meta tag Keywords -->

<!-- css files -->
<link rel="stylesheet" href="/admin/login/css/style.css" type="text/css"
	media="all" />
<!-- Style-CSS -->
<link href="/admin/login/css/font-awesome.min.css" rel="stylesheet">
<!-- Font-Awesome-Icons-CSS -->
<!-- //css files -->

<!-- web-fonts -->
<link
	href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	rel="stylesheet">
<!-- //web-fonts -->
</head>

<body>

	<div class="main-bg">
		<!-- title -->
		<h1>LOGIN</h1>
		<!-- //title -->
		<!-- content -->
		<div class="sub-main-w3">
			<div class="bg-content-w3pvt">
				<div class="top-content-style">
					<img src="images/user.jpg" alt="" />
				</div>
				<form th:action="@{/login}" method="post">
				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
					<p class="legend">
						INGRESE<span class="fa fa-hand-o-down"></span>
					</p>
					<div class="input">
						<input type="text" placeholder="usuario" name="username" required />
						<span class="fa fa-envelope"></span>
					</div>
					<div class="input">
						<input type="password" placeholder="contraseña" name="password"
							required /> <span class="fa fa-unlock"></span>
					</div>
					<p th:text="${error}"></p>

					<button type="submit" class="btn submit">
						<span class="fa fa-sign-in"></span>
					</button>
				</form>
				<a href="#" class="bottom-text-w3ls">Olvidaste la Contraseña</a>
					<div th:if="${param.error}">
		<div class="alert alert-danger alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			Invalid username or password.
		</div>
	</div>
	<div th:if="${param.logout}">
		<div class="alert alert-info alert-dismissible fade in">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			You have been logged out.
		</div>
	</div>
			</div>
		</div>
		<!-- //content -->
		<!-- copyright -->
		<div class="copyright">
			<h2>
				&copy; 2019 <a href="http://w3layouts.com" target="_blank">AYACUCHO
				</a>
			</h2>
		</div>
		<!-- //copyright -->
	</div>
</body>

</html>