<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/views/admin/layout/layout}">
<body>
<div layout:fragment="content">

<!-- BEGIN PAGE BREADCRUMB -->
				<ul class="page-breadcrumb breadcrumb">
					<li><a href="#">Home</a><i class="fa fa-circle"></i></li>
					<li class="active">Dashboard</li>
				</ul>
				<!-- END PAGE BREADCRUMB -->
				<!-- BEGIN PAGE CONTENT INNER -->
				<div class="row margin-top-10">






					<div class="portlet light">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-cogs font-green-sharp"></i> <span
									class="caption-subject font-green-sharp bold uppercase">Simple
									Table</span>
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse"> </a> <a
									href="#portlet-config" data-toggle="modal" class="config">
								</a> <a href="javascript:;" class="reload"> </a> <a
									href="javascript:;" class="remove"> </a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-scrollable">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>#</th>
											<th>Bachiller</th>
											<!-- <th>Last Name</th> -->
											<th>Documento</th>
											<th>Acciones</th>
										</tr>
									</thead>
									<tbody>
										<!-- <tr>
											<td>1</td>
											<td>Mark</td>
											<td>Otto</td>
											<td>makr124</td>
											<td><button class="btn btn-succes">EDITAR</button>
											<button class="btn btn-danger">ELIMINAR</button>
											</td>
										</tr> -->


			<tr th:each="solicitud : ${listaSolcicitud}">
							<td>1</td>
                            <td th:text="${solicitud.bachiller.nombreCompleto}"></td>
                           <!-- <td th:text="${solicitud.decano.nombreCompleto}"></td> --> 
                            <td th:text="${solicitud.documento.descripcion}"></td>
                            <td>
								<a class="btn btn-warning"  th:onclick="'javascript:mostratPdf(' + ${solicitud.idSolicitud} + ')'" >VER PDF</a>
                            	<a class="btn btn-info">EDITAR</a>
								<a class="btn btn-danger">ELIMINAR</a>
							</td>

                        </tr>
                        
                        
                        
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- END SAMPLE TABLE PORTLET-->
				</div>

	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">SOLICITUD</h4>
				</div>
				<div class="modal-body">
					<iframe id="iframePdf" src="\reportes\tesis_solicitud.pdf" frameborder="0" width="100%" height="460px" marginheight="0" marginwidth="0" >

					</iframe>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>





				<!-- END SAMPLE FORM PORTLET-->
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function () {
		});


		function mostratPdf(idSolicitud){
			var parametros = {"idSolicitud": idSolicitud};
			$.ajax({
				data: parametros,
				url: '/views/generarDocumento/report/' + idSolicitud,
				type: 'get',
				success: function (response) {
					$('#iframePdf').attr("src", $('#iframePdf').attr("src"));
					$('#myModal').modal('show');

				}
			});
		}
		/*]]>*/
	</script>
			</div>
		</div>
		<!-- END PAGE CONTENT INNER -->

</div>
</body>
</html>






