

<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml"
	layout:decorate="~{/views/admin/layout/layout}">
<body>
	<div layout:fragment="content">
		<!-- BEGIN PAGE BREADCRUMB -->
		<ul class="page-breadcrumb breadcrumb">
			<li><a href="#">Home</a><i class="fa fa-circle"></i></li>
			<li class="active">Dashboard</li>
		</ul>
		<!-- END PAGE BREADCRUMB -->
		<!-- BEGIN PAGE CONTENT INNER -->
		<div class="row margin-top-10">

			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-cogs font-green-sharp"></i> <span
							class="caption-subject font-green-sharp bold uppercase">
							HOME</span>
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"> </a> <a
							href="#portlet-config" data-toggle="modal" class="config"> </a> <a
							href="javascript:;" class="reload"> </a> <a href="javascript:;"
							class="remove"> </a>
					</div>
				</div>

				<div class="portlet-body form">
					<form id="form" method="post" role="form" th:object="${solicitudObject}"  th:action="@{/views/generarDocumento/SaveDoc}">




						<div class="form-body">


							<input type="hidden" name="documento" id="documento" />
							<input type="hidden"  th:field="*{decano}"  name="decano" id="decano" />
							<input type="hidden"  th:field="*{bachiller}" name="bachiller" id="bachiller" />
							<input type="hidden"  th:field="*{idSolicitud}"  />

							<div class="form-group col-md-12">
								<label>Decano</label>
								<div class="input-group">
									<span class="input-group-addon"> <i	class="fa   fa-user-md"></i></span>
									<input type="text" th:field="*{decano.nombreCompleto}" id="txtNombreDecano" class="form-control"	placeholder="Nombre Decano" >
								</div>
							</div>


							<div class="form-group col-md-12">
								<label>Bachiller</label>
								<div class="input-group">
									<span class="input-group-addon"> <i
										class="fa  fa-graduation-cap"></i>
									</span> <input type="text" class="form-control" id="txtNombreBachiller"	placeholder="Apellidos y nombres del Bachiller" readonly="readonly">
								</div>
							</div>


							<div class="form-group col-md-6">
								<label>Codigo del estudiante</label>
								<div class="input-group">
									<span class="input-group-addon"> <i
										class="fa  fa-qrcode"></i>
									</span> <input type="number"  maxlength="8" class="form-control" id="txtCodigo"	placeholder="codigo estudiante">
								</div>
							</div>

							<div class="form-group col-md-6">
								<label>DNI</label>
								<div class="input-group">
									<span class="input-group-addon"> <i
										class="fa  fa-file-text-o"></i>
									</span> <input type="number" id="txtDniBachiller" maxlength="8" class="form-control" readonly	placeholder="Numero DNI">
								</div>
							</div>


							<div class="form-group col-md-12">
								<label>Domicilio</label>
								<div class="input-group">
									<span class="input-group-addon"> <i class="fa  fa-home"></i>
									</span> <input type="text" class="form-control" id="txtDomicilio"		placeholder="Domicilio">
								</div>
							</div>


							<div class="form-group col-md-4">
								<label>Fecha</label>
								<div class="input-group">
									<span class="input-group-addon"> <i
										class="fa  fa-calendar"></i>
									</span> <input name="fechaActual" id="fechaActual" type="Date"
										class="form-control">
								</div>
							</div>
							<div class="row"></div>

						</div>
						<div class="form-actions">
							<button type="submit" class="btn blue">GUARDAR</button>
						</div>


					</form>
				</div>
			</div>
			<!-- END SAMPLE TABLE PORTLET-->




			<script type="text/javascript" th:inline="javascript">
				/*<![CDATA[*/
				$(document).ready(function () {

					$('#form').bind("keypress", function(e) {
						if (e.keyCode == 13) {
							e.preventDefault();
							return false;
						}
					});

					$('#txtNombreDecano').autocomplete({
						source: function (request, response) {
							$.getJSON("/decano/decanos/", function (data) {
								response($.map(data, function (value, key) {
									return {
										label: value.nombreCompleto,
										value: value.dni
									};
								}));
							});
						},
						select: function (event, ui) {
							$("#decano").val(ui.item.value);
							$("#txtNombreDecano").val(ui.item.label);
							return false;
						},
						minLength: 2,
						delay: 100
					});


				});

				function buscarPorCodigoBachiller(codigo){
					var parametros = {"codigo": codigo};
					$.ajax({
						data: parametros,
						url: '/bachillerController/bachiller/' + codigo,
						type: 'get',
						success: function (response) {
							$('#txtNombreBachiller').val(response.nombreCompleto);
							$('#txtDniBachiller').val(response.dni);
							//$('#txtDomicilio').val(response.apellidos);
							// hidden
							$('#bachiller').val(response.codigo);
						}
					});
				}




				$("#txtCodigo").keypress(function(e) {
					var code = (e.keyCode ? e.keyCode : e.which);
					if(code==13){
						e.preventDefault();
						buscarPorCodigoBachiller($("#txtCodigo").val());
					} });


				/*]]>*/
			</script>


		</div>
		<!-- END SAMPLE FORM PORTLET-->






	</div>

	<!-- END PAGE CONTENT INNER -->
</body>
</html>




